/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body{
	background-color: #f5f5f5;
}

.loading_block span{
  font-size: 80px;
  display: inline-block;
  animation: animate 2s infinite linear;
  transform-origin: 0 50%;
  transform-style: preserve-3d;
  color: blue;
}

.loading_block span:nth-child(even){
  color: #eeb306;
}

.loading_block span:nth-child(2){
  animation-delay: .2s;
}
.loading_block span:nth-child(3){
  animation-delay: .4s;
}
.loading_block span:nth-child(4){
  animation-delay: .6s;
}

.loading_block span:nth-child(5){
  animation-delay: .8s;
}

.loading_block span:nth-child(6){
  animation-delay: 1s;
}

@keyframes animate{
  50%{
    transform: rotateY(360deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}
@media (prefers-color-scheme: dark){
	body{
		background-color: #000;
	}
}
@media (prefers-color-scheme: light){
	body{
		background-color: #f5f5f5;
	}
}

.head__eye{
  background-color: pink;
}

.head__eye--left{
  color: red;
}
.head__eye--right{
  color: blue;
  font-weight: 700;
}

.wrapper{
  padding: 20px 50px;
}

.list_items li{
	background-color: var(--nitesh);
	width: 100px;
	height: 100px;
}

@page{
	margin: 5em;
}


.list_unstyled li input{
	display: none;
}

.list_unstyled li .dot{
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: blue;
	margin: 0 10px 0 0;
	cursor: pointer;
	transition: all .4s linear;
}

.list_unstyled li  input[type="radio"]:checked ~ .dot{
	background-color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.carousel-section {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}
.carousel-section .owl-carousel .owl-stage {
  padding-left: 0 !important;
}
.carousel-section .owl-carousel .owl-stage-outer {
  overflow: unset;
}
.carousel-section .owl-carousel .owl-nav .owl-next,
.carousel-section .owl-carousel .owl-nav .owl-prev {
  width: 50px;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  height: 50px;
  font-size: 30px;
}
.carousel-section .owl-carousel .owl-nav .owl-next:focus,
.carousel-section .owl-carousel .owl-nav .owl-prev:focus {
  outline: 0;
}
.carousel-section h2 {
  font-size: 34px;
  text-align: left;
  font-weight: 700;
}
.carousel-container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}
.carousel-item {
  margin: 20px 0;
}
.carousel-item__card {
  box-shadow: 0 13px 31px #dce1ed;
  height: 300px;
  border-radius: 12px;
  margin: 30px 0 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  border: 1px solid #dddddd;
}*/


/*START => Draggable Image Slider*/
/* Import Google font - Poppins */
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  padding: 0 35px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #343F4F;
}
.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}*/
/*END =>Draggable Image Slider*/


html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
header {
  background-color: #222;
  color: #fff;
}
header h1 {
  font-size: 4rem;
  font-weight: 100;
  padding: 2rem;
}
main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
main section {
  flex: 1 1 33.33vw;
  font-size: 2rem;
  font-weight: 300;
  display: grid;
  place-items: center;
  transition: flex-basis 0.8s ease-in;
}
section:nth-child(1) {
  background-color: #ff5e5b;
  color: white;
}
section:nth-child(2) {
  background-color: #00cecb;
  color: black;
}
section:nth-child(3) {
  background-color: #ffed66;
  color: black;
}
p {
  padding: 1rem;
  font-size: 1rem;
}

/* @media screen and (max-width: 600px) { */
@media screen and (width < 600px) {
  main section {
    flex-basis: 1rem;
  }
  main section:nth-child(1) {
    flex-basis: 60vw;
  }
  main section:nth-child(1) p {
    font-size: 2.5rem;
  }
  main section:nth-child(2) p,
  main section:nth-child(3) p {
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }
}

/* @media screen and (min-width: 600px) and (max-width: 900px) { */
@media screen and (width >= 600px) and (width < 900px) {
  main section {
    flex-basis: 1rem;
  }
  main section:nth-child(2) {
    flex-basis: 60vw;
  }
  main section:nth-child(2) p {
    font-size: 5rem;
  }
  main section:nth-child(1) p,
  main section:nth-child(3) p {
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }
}

/* @media screen and (min-width: 900px) { */
@media screen and (width >= 900px) {
  main section {
    flex-basis: 1rem;
  }
  main section:nth-child(3) {
    flex-basis: 60vw;
  }
  main section:nth-child(3) p {
    font-size: 7.5rem;
  }
  main section:nth-child(1) p,
  main section:nth-child(2) p {
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }
}