*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body{
	background-color: #f5f5f5;
}
@media (prefers-color-scheme: dark){
	body{
		background-color: #000;
	}
}
@media (prefers-color-scheme: light){
	body{
		background-color: #f5f5f5;
	}
}

.wrapper{
  padding: 20px 50px;
}

.list_items li{
	background-color: var(--nitesh);
	width: 100px;
	height: 100px;
}

@page{
	margin: 5em;
}


.list_unstyled li input{
	display: none;
}

.list_unstyled li .dot{
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: blue;
	margin: 0 10px 0 0;
	cursor: pointer;
	transition: all .4s linear;
}

.list_unstyled li  input[type="radio"]:checked ~ .dot{
	background-color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.carousel-section {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}
.carousel-section .owl-carousel .owl-stage {
  padding-left: 0 !important;
}
.carousel-section .owl-carousel .owl-stage-outer {
  overflow: unset;
}
.carousel-section .owl-carousel .owl-nav .owl-next,
.carousel-section .owl-carousel .owl-nav .owl-prev {
  width: 50px;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  height: 50px;
  font-size: 30px;
}
.carousel-section .owl-carousel .owl-nav .owl-next:focus,
.carousel-section .owl-carousel .owl-nav .owl-prev:focus {
  outline: 0;
}
.carousel-section h2 {
  font-size: 34px;
  text-align: left;
  font-weight: 700;
}
.carousel-container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}
.carousel-item {
  margin: 20px 0;
}
.carousel-item__card {
  box-shadow: 0 13px 31px #dce1ed;
  height: 300px;
  border-radius: 12px;
  margin: 30px 0 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  border: 1px solid #dddddd;
}
